.p1 {
    background-color: white;
}

.p2 {
    background-color: black;
}

.highlight {
    background-color: rgb(190, 187, 187);
}

.active-p1 {
    background-color: gray;
}

.active-p2 {
    background-color: gray;
}

.player1 {
    color: black;
}

.player2 {
    color: black;
}

.moving {
    color: black;
}