body {
    background-image: url("Img/tsihy.jpeg");
    
}

h1 {
    color:rgb(57, 41, 13);
    font-family:monospace;
    text-align: center;
    font-size: 70px;
}

p {
    color:rgb(57, 41, 13);
    font-family:monospace;
    text-align: center;
    font-size: 35px;
}
