.container {
    border: 5px solid rgb(57, 41, 13);;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    position: relative;
}


.hor {
    background-color: rgb(57, 41, 13);;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
}

.vert {
    background-color:rgb(57, 41, 13);;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 149px;
    transform: rotate(90deg);
    transform-origin: center;
}

.diag-left{
    background-color: rgb(57, 41, 13);;
    height: 5px;
    width: 141.42%;
    position: absolute;
    top: 149px;
    left: -64px;
    transform: rotate(45deg);
    transform-origin: center;
}

.diag-right{
    background-color: rgb(57, 41, 13);;
    height: 5px;
    width: 141.42%;
    position: absolute;
    top: 149px;
    right: -64px;
    transform: rotate(-45deg);
    transform-origin: center;
}

